
@{
    //A Razor view is a .cshtml file that combines HTML with C# code to generate dynamic web pages. 
    // A controller action returns a view, Razor executes any embedded C# on the server, 
    // and the resulting HTML is sent to the browser. Values such as page titles or 
    // model data can be passed to the view using mechanisms 
    // like ViewData, ViewBag, or, more commonly, a strongly typed model.

    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>Hello from our View Template!</p>